# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
*.tfplan
*.tfvars
!example.tfvars
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# AWS CLI
.aws/
aws-creds/

# OS files
.DS_Store
Thumbs.db
*.swp
*.swo
*~

# IDE
.vscode/
.idea/
*.iml

# Logs
*.log

# Environment variables
.env
.env.local

# Secrets
**/secrets/
**/keys/
*.pem
*.key.

